/*
===============================
GLOBAL STYLES & COMPONENTS
===============================
 */


/* 
=======
imports
=======  
*/
/*@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');


/* 
=======
root vars
=======  
*/
:root {
	--brand-main-color: #000;
	--link-color: var(--brand-main-color);
	--button-color: var(--brand-main-color);
	--box-shadow:  0px 0px 15px 5px rgba(0,0,0,0.13);
}

/* 
=======
micro reset
=======  
*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
=======
layout with sticky footer
=======  
*/
#site-wrapper {
	background: #fff;
	display: flex; /*sticky footer*/
	min-height: 100vh; /*sticky footer*/
	flex-direction: column; /*sticky footer*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-weight: 5400;
}
header {
	display:  flex;
	justify-content:  space-between;
	align-items: center;
	padding: 1rem;
	box-shadow: var(--box-shadow);
	/*box-shadow: var(--box-shadows);*/
	/*-webkit-box-shadow: var(--box-shadows);*/
}
main {
	flex: 1;
}
footer {
	padding: 1rem;
	background: #000;
	/*border-top:  solid 2px #333;*/
	color:  white;
}
.container {
	max-width: 999px;
	margin:  0 auto;
}

/* 
=======
branding
=======  
*/
.brand-font {
	font-family: "Josefin Sans", sans-serif;
}
a {
	color:  var(--link-color);
	text-decoration: none;
}

/* 
=======
icons
=======  
*/
.btn .fa-solid {
	margin-right: 0.5rem;
}

/* 
=======
forms
=======  
*/
form {
	padding-top: 2rem;
}
form.inline {
	display:  flex;
}
input[type=text],
input[type=email],
input[type=password],
select {
	border: 0;
	padding: 1rem;
	font-size: 1em;
	font-family: Raleway, Arial, Helvetica, sans-serif;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
select:focus {
	outline:  none;
}
input[type=submit] {
	font-size: 1rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 400;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 400;
}

form.inline input[type=submit] {
	/*padding: 1rem;*/
}


/* 
=======
buttons
=======  
*/
.btn {
	border:  none;
	background: var(--button-color);
	background: var(--brand-main-color);
	padding: 1rem 3rem;
	color:  #fff;
	display:  inline-block;
	/*font-weight: bold;*/
}
.btn.hollow {
	background: transparent;
	border:  solid 2px #fff;
	font-weight:  bold;
}
.btn.inverted {

}
/*header .btn {
	background:  #000;
	color: #fff;
}*/



/* 
=======
blockquote
=======  
*/
.blockquote {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  /*position: absolute;*/
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 50%;
  /*height: 500px;*/
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
  /*padding-bottom: 1rem;*/
  margin-bottom: 5rem;
}
.blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid #fff;
  border-left: 20px solid #fff;
  box-sizing: border-box;
}
.blockquote:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid #fff;
  border-right: 20px solid #fff;
  box-sizing: border-box;
}
.blockquote .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: #fff;
  color: #2C3A47;
}
.blockquote .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.blockquote .text {
  /*position: absolute;*/
  position: relative;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  /*background-color: #2C3A47;*/
  background-color: #b71540;
  border-radius: 3px;
  transition: 0.4s;
}
.blockquote .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.blockquote .text div {
  /*position: absolute;*/
  /*top: 50%;*/
  left: 0;
  /*transform: translateY(-50%);*/
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  padding-bottom:  6rem;
  line-height: 1.5;
  box-sizing: border-box;
}
.blockquote .text div h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.blockquote .text div p {
  /*font-size: 15px;*/
}
.blockquote:hover {
  /*transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);*/
  transform: rotateY(-20deg) skewY(3deg);
}
.blockquote:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}

/*
===============================
LOCAL STYLES FOR LAYOUT COMPONENTS
===============================
 */

/* 
=======
header
=======  
*/
header .brand-font.logo {
	font-size: 3em;
}

/* 
=======
hero section
=======  
*/
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");

  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*position: relative;*/
  /*padding: 2em 1em;*/
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  color: white;
}
.hero-text h2 {
  font-weight: 200;
  font-size: 4rem;
  margin-bottom:  3rem;
}

/* 
=======
features section
=======  
*/
.features {
	padding-top: 2rem;
	text-align:  center;
	background:  #ccc;
	height: 80%;
	/*margin-bottom:  2rem;*/
}
p.lead {
	font-size:  3rem;
	font-weight: 100;
	/*color:  #fff;*/
	margin-bottom: 1rem;
}

.features .boxes {
	display:  flex;
	max-width:  1100px;
	margin:  0 auto;
	justify-content: space-between;
  align-items: top;
  gap:  2rem;
  position: relative;
  top: 2em;
}
.features .boxes .box {
	background: #fff;
  padding:  1rem;
  min-width: 340px;
  max-width: 340px;
  display:  flex;
  flex-direction: column;
  box-shadow:  var(--box-shadow);
}
.features .boxes .box .title {
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
.features .boxes .box .text{
	/*font-size: 2.5rem;
	font-weight: 400;*/
	margin-bottom: 2rem;
}

/*
=======
get-involved section
=======
*/
#get-involved {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
	
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");*/
	background:  #000;
	color:  #fff;
}
#get-involved input#email {
	width:  244px;
}
#get-notified {
	justify-content: center;
}



/*
=======
reviews section
=======
*/
.reviews {
	background:  url(https://images.unsplash.com/photo-1528543606781-2f6e6857f318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:  flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* 
=======
footer
=======  
*/
footer .brand-font {
	font-size: 1.3em;
}