/*
===============================
GLOBAL STYLES & COMPONENTS
===============================
 */


/* 
=======
imports
=======  
*/
/*@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');


/* 
=======
root vars
=======  
*/
:root {
	--brand-main-color: #000;
	--brand-secondary-color:  #2C3A47;
	--brand-bright-color:  #b71540;
	--link-color: var(--brand-main-color);
	--button-color: var(--brand-main-color);
	--box-shadow:  0px 5px 15px 5px rgba(0,0,0,0.13);
}

/* 
=======
micro reset
=======  
*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
=======
utility classes
=======  
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* 
=======
layout with sticky footer
=======  
*/
#site-wrapper {
	background: #fff;
	display: flex; /*sticky footer*/
	min-height: 100vh; /*sticky footer*/
	flex-direction: column; /*sticky footer*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	font-weight: 5400;
}
header {
	display:  flex;
	justify-content:  space-between;
	align-items: center;
	padding: 1rem;
	box-shadow: var(--box-shadow);
	/*box-shadow: var(--box-shadows);*/
	/*-webkit-box-shadow: var(--box-shadows);*/
}
main {
	flex: 1;
}
footer {
	padding: 1rem;
	background: #000;
	/*border-top:  solid 2px #333;*/
	color:  white;
}
.container {
	max-width: 999px;
	margin:  0 auto;
	position: relative;
}

/* 
=======
branding
=======  
*/
.brand-font {
	font-family: "Josefin Sans", sans-serif;
}
.brand-secondary-color-text {
	color:  var(--brand-secondary-color);
}
a {
	color:  var(--link-color);
	text-decoration: none;
}

/* 
=======
typography
=======  
*/
h2 {
	font-weight: 300;
}

/* 
=======
icons
=======  
*/
.btn .fa-solid,
.btn .fa-regular {
	margin-right: 0.5rem;
}

/* 
=======
forms
=======  
*/
form {
	padding-top: 2rem;
}
form.inline .form-body {
	display:  flex;
	justify-content: center;
}
input[type=text],
input[type=email],
input[type=password],
input[type=tel],
/*input[type=submit],*/
select {
	width: 100%;
	border: 0;
	padding: 1rem;
	font-size: 1rem;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	border-bottom: solid 2px #000;
	transition: all .5s;
	margin-bottom: 1rem;
}
input[type=submit] {
	font-size: 1rem;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=submit]:focus,
select:focus {
	outline:  none;
	border-bottom-color: skyblue !important;
}
form.inline input[type=text],
form.inline input[type=email],
form.inline input[type=password],
form.inline input[type=tel],
form.inline select,
form.inline input[type=submit] {
	/*border: solid 2px #fff !important;*/
	border-bottom: 0;
	margin: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 400;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 400;
}

form.inline input[type=submit] {
	/*padding: 1rem;*/
}
form.inline.focused input[type=submit] {
	/*background: var(--brand-secondary-color);*/
}
form .form-success,
form .form-error,
form.form-success .form-body, 
form.form-error .form-body {
	max-height: 0;
	transform: scale(0);
	transition: transform .3s;
}

form .form-success .fa-solid,
form .form-error .fa-solid {
	margin-right: 1rem;
}

form.form-success .form-success,
form.form-error .form-error {
	padding: 1rem;
	text-align: center;
	max-height: 100%;
	transform: scale(1);
}

form.form-success .form-success {
	/*color: green;*/
	border:  solid 2px green;
}
form.form-error .form-error {
	/*color: red;*/
	border:  solid 2px red;
}

form .g-recaptcha > div {
	margin: 0 auto !important;
	margin-top: 2rem !important;
}

@media screen and (max-width: 768px) {
	form.inline .form-body {
		flex-direction: column;
	}
	form.inline input {
		width: 100% !important;
	}

}


/* 
=======
links
=======  
*/
a {
	transition: all .3s;
}
/*a:hover {
	color: var(--brand-secondary-color) !important;
}
*/
/* 
=======
buttons
=======  
*/
.btn, button {
	border:  none;
	background: var(--button-color);
	background: var(--brand-main-color);
	padding: 1rem 3rem;
	color:  #fff;
	display:  inline-block;
	font-size:  1rem;
	/*font-weight: bold;*/
	transition: all .3s;
}
.btn:hover {
	background: var(--brand-secondary-color) !important;
}
.btn.hollow {
	background: transparent;
	border:  solid 2px #000;
	color:  #000;
	font-weight:  bold;
}
.btn.hollow:hover {
	color: #fff;
	/*font-weight:  normal;*/
}
.btn.hollow.light {
	border:  solid 2px #fff;
	color: #fff;
}
.btn.inverted {

}
button   {
	font-family: Raleway, Arial, Helvetica, sans-serif;
}
/*header .btn {
	background:  #000;
	color: #fff;
}*/



/* 
=======
blockquote
=======  
*/
.blockquote {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 800px;
  max-width: 80%;
  height: 375px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
  margin-bottom: 2rem;
}
.blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid #fff;
  border-left: 20px solid #fff;
  box-sizing: border-box;
}
.blockquote:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid #fff;
  border-right: 20px solid #fff;
  box-sizing: border-box;
}
.blockquote .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: #fff;
  color: var(--brand-secondary-color);
}
.blockquote .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.blockquote .text {
  position: absolute;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: var(--brand-secondary-color);
  border-radius: 3px;
  transition: 0.4s;
}
.blockquote .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.blockquote .text div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}
.blockquote .text div h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.blockquote .text div p {
  /*font-size: 15px;*/
}
.blockquote:hover {
  /*transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);*/
  transform: rotateY(-20deg) skewY(3deg);
}
.blockquote:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}
.blockquote.tall {
	height:  375px;
}


/* 
=======
modal
=======  
*/
/* The Modal (background) */
.modal {
  opacity: 0;
  /*display:  none;*/
  width: 100%;
  height: 100%;
  position: fixed; /* Stay in place */
  z-index: 101; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  transition:  opacity .15s linear;
  pointer-events: none;
}
.modal .modal-inner {
	display: none;
}
.modal.closing .modal-inner {
	display: block;
}
.modal.showing {
	opacity: 1;
	pointer-events: auto;
	/*display: block;*/
}
.modal.showing .modal-inner {
	display: block;
}

/* Modal Content/Box */
.modal-content {
  /*border:  solid 3px #000;*/
  background-color: #fff;
  margin: 4rem auto; /* 15% from the top and centered */
  padding: 20px;
  width: 700px; /* Could be more or less, depending on screen size */
  transition:  all .3s ease-out;
  position: relative;
  max-width: 90%;
  /*top: 100%;*/
  transform:  translateY(100%);
  text-align:  center;
  padding: 3rem;
}
.modal.showing .modal-content {
	/*top: 0;*/
	transform:  translateY(0);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  position: absolute;
  top:  0.3rem;
  right:  0.3rem;
  font-size: 5rem;
  font-weight: 100;
  transition:  all .5s;
  background: transparent;
  vertical-align: top;
  line-height: 1rem;
  border:  0;
  padding: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal h2 {
	font-size: 2.8rem;
}
.modal button.btn {
	margin-top: 2rem;
}

.modal .form-grid {
	display: grid;
	grid-gap: 1rem;
	/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


@media screen and (max-width: 768px) {
	.modal button {
		padding: 1rem;
	}
}
@media screen and (max-width: 400px) {
	.modal .form-grid {
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
	}
}

/*
===============================
LOCAL STYLES FOR LAYOUT COMPONENTS
===============================
 */

/* 
=======
header
=======  
*/
header {
	/*position:  fixed;
	top:  0;
	width:  100%;
	z-index: 100;*/
	background: #fff;
	z-index: 100;
	transition: all .3s;
}
header .brand-font.logo {
	font-size: 3em;
	font-weight: bold;
}
@media screen and (max-width:  768px) {
	header {
		/*flex-direction: column;*/
		position: sticky;
    top: 0;
    /*max-height: 69px;
    transition: max-height .3s;
    overflow:  hidden;
		gap: 1rem;*/
	}
	header.expanded {
		/*max-height: 200px;*/
	}
	header .brand-font.logo {
		font-size: 2rem;
	}
	header .links .btn {
		/*transform:  scale(0);*/

	}
	header.expanded .links .btn {
		/*transform:  scale(1);*/
	}

	header .links .btn .fa-solid {

	}
}

@media screen and (max-width:  480px) {
		header .links .btn {
			padding: .5rem 1.5rem;
		}
}

/* 
=======
footer
=======  
*/
footer {
	display: flex;
	align-items: baseline;
	gap: .3rem;
}
footer .brand-font {
	font-size: 1.3em;

}
footer a {
	color: #fff;
}
footer .social {
	margin-left:  auto;
}
footer .social a:hover {
	color:  #666;
}
@media screen and (max-width: 768px) {
	footer {
		text-align:  center;
		flex-direction: column;
		justify-content: center;
	}
	footer div {
		width:  100%;
	}
/*	footer .social { 
		order: 1 !important; 
	}*/
}

/* 
=======
hero section
=======  
*/
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");

  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  /*position: relative;*/
  /*padding: 2em 1em;*/
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  color: white;
}
.hero-text h1 {
  font-weight: 200;
  font-size: 4rem;
  margin-bottom:  3rem;
}

@media screen and (max-width: 768px) {
	.hero-image {
		height: auto;
		padding: 2rem;

	}
	.hero-text h2 {
	  font-size: 3rem;
	}
}

/* 
=======
features section
=======  
*/
.features {
	padding-top: 2rem;
	text-align:  center;
	background:  #ccc;
	height: 80%;
	padding-left: 2rem;
	padding-right: 2rem;
	/*margin-bottom:  2rem;*/
}
p.lead {
	font-size: 2.7rem;
    font-weight: 400;
	/*color:  #fff;*/
	margin-bottom: 1rem;
}
.grid-container {
	max-width: 1120px;
	margin:  0 auto;
	display: grid;
	align-items: top;
	justify-content: center;
	grid-gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	/*grid-template-columns: 1fr 1fr 1fr;*/
	/*grid-template-rows: 1fr 1fr;*/
	/*grid-auto-flow: column;*/
}
/*@media (max-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}*/

.features .boxes {
	/*display:  flex;
	max-width:  1100px;
	margin:  0 auto;
	justify-content: space-between;
  align-items: top;
  gap:  2rem;*/
  position: relative;
  top: 2em;
}
.features .boxes .box {
	background: #fff;
  padding:  1rem;
  /*min-width: 340px;
  max-width: 340px;*/
  display:  flex;
  flex-direction: column;
  box-shadow:  var(--box-shadow);
  transition: 250ms;
}
.features .boxes .box:hover {
	translate: 0 -2px;
}
.features .boxes .box .title {
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
.features .boxes .box .img {
	font-size: 3rem;
	color: #666;
	margin-bottom: 1rem;
}
.features .boxes .box .text{
	/*font-size: 2.5rem;
	font-weight: 400;*/
	margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
	p.lead {
		font-size: 2rem;
	}
}

/*
=======
get-involved section
=======
*/
#get-involved {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");*/
	background:  #000;
	color:  #fff;
}
#get-involved input#email {
	width:  244px;
}
#get-notified {
	justify-content: center;
}



/*
=======
reviews section
=======
*/
.reviews {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url(https://images.unsplash.com/photo-1528543606781-2f6e6857f318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80);
	background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align:  center;
}
.reviews .container {
  display:  flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.reviews h2 {
	font-size:  5rem;
	margin-bottom: 2rem;
	font-weight:  400;
}
.reviews #open-modal-demo {
	margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
	.reviews h2 {
		font-size:  3.5rem;
	}	
}
